@if (Environment.GetEnvironmentVariable("SALE_ACTIVE") == "true") {
    <h1>
        Testing Out Auto Swap
    </h1>
    <div class="alert alert-warning text-center" role="alert">
        20% off all products for the next 24 hours! Use code <strong>SALE20</strong> at checkout.
    </div>
}